crash-reports
downloads
fancymenu_instance_data
fancymenu_setups
logs
mods
resourcepacks
saves
schematics
screenshots
.curseclient
minecraftinstance.json
modlist.html
usercache.json
usernamecache.json
patchouli_data.json